<h2 class="text-center mt-5">Page profil de <%= current_user.pseudo %></h2>

<div class="row mt-5">

  <div class="col-6">
    <span class="fw-bold">Pseudo: </span><%= current_user.pseudo %><br />
    <span class="fw-bold">Email: </span><%= current_user.email %><br />
    <span class="fw-bold">Description: </span>
    <% if current_user.description.blank? %>
      Aucune description
    <% else %>
      <%= current_user.description %>
    <% end %>
    <br />
    <span class="fw-bold">Niveau de jeu: </span><%= current_user.level %><br />
    <span class="fw-bold">Plateforme(s): </span>
    <% if current_user.nintendo == 1 %>
      <span>Nintendo</span>
    <% end %>
    <% if current_user.sony == 1 %>
      <span>Sony</span>
    <% end %>
    <% if current_user.xbox == 1 %>
      <span>XBox</span>
    <% end %>
    <% if current_user.pc == 1 %>
      <span>Pc</span>
    <% end %>
  </div>

  <div class="col-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <h3 class="fw-bold">Modifier votre profil</h3><br />

      <div class="field form-group">
        <span>Modifier votre pseudo </span>
        <%= f.text_field :pseudo, autofocus: true, class:"form-control", placeholder:"Pseudo (25 caractères max.)" %>
      </div>

      <div class="field form-group">
        <br />
        <span>Modifier votre description</span>
        <%= f.text_area :description, size: "70x5", class:"form-control", placeholder:"Phrase d'accroche!" %>
      </div>

      <div class="field form-group">
        <br />
        <%= f.label :level %><br />
        <%= f.select :level, [["Casual", "Casual"], ["Regular", "Regular"], ["Hardcore", "Hardcore"]], {}, class:"form-select" %>
      </div>

      <br />
      <div class="text-center">Plateforme(s)</div>
      <div class="d-flex justify-content-around flex-wrap">
        <div class="field form-group">
          <%= f.label :Nintendo %><br />
          <%= f.check_box :nintendo, value: "1" %>
        </div>

        <div class="field form-group">
          <%= f.label :Sony %><br />
          <%= f.check_box :sony, value: "1"  %>
        </div>

        <div class="field form-group">
          <%= f.label :XBox %><br />
          <%= f.check_box :xbox, value: "1"  %>
        </div>

        <div class="field form-group">
          <%= f.label :Pc %><br />
          <%= f.check_box :pc, value: "1"  %>
        </div>
      </div>

      <br />
      <div class="field form-group">
        <span>Modifier son email</span><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form-group">
        <br />
        <span>Changer son mot de passe (6 caractères minimum)</span><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Mot de passe" %>
      </div>

      <div class="field form-group">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirmer mot de passe" %>
      </div>

      <div class="field form-group">
        <br />
        <%= f.label :Mot_de_passe_actuel %> <i>(Nous avons besoin de votre mot de passe actuel pour confirmer tout changement)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
      </div>

      <div class="actions">
        <br />
        <%= f.submit "Mise à jour", class:"btn btn-success" %>
      </div>
    <% end %>

    <h3 class="mt-5">Supprimer mon compte</h3>

    <p>Attention, la suppression est définitive! <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Etes-vous sûr?" }, method: :delete, class:"btn btn-danger" %></p>

    <%= link_to "Retour", :back %>
  </div>

</div>


